body {
  color: #34495e;
  background-color: rgb(92, 91, 91);
  font-family: '微軟正黑體';
}

#app {
  color: #34495e;
  background-color: rgb(92, 91, 91);
  font-family: '微軟正黑體';
  #viewArea{
    height: calc(100vh - 56px);  
  }
}