body {
  color: #34495e;
  background-color: #9cc6e9;
  font-family: '微軟正黑體';
}

#app {
    color: #34495e;
    background-color: #9cc6e9;
    font-family: '微軟正黑體';
    padding-top: 50px ;
    #viewArea{
      margin-top:5px;
    }
}